<div ng-controller="PCAController">
	<div class="row">
		<div class="col-md-10 col-lg-10 col-xl-10">
			<canvas pca-plot pdf="pdf"></canvas>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2">
	    	<div class="form-group">
	    		<label>Samples</label>
	    		<select class="form-control" ng-model="sample_set.selected" ng-options="s as s for s in sample_set.options"></select>
	    	</div>
	    	<div class="form-group">
	    		<label>Colors</label>
	    		<select class="form-control" ng-model="factors.selected" ng-options="f as f for f in factors.options"></select>
	    	</div>
	    	<div class="form-group">
	    		<label>1KG Labels</label>
	    		<select class="form-control" ng-model="display_1kg.selected" ng-options="k as k for k in display_1kg.options"></select>
	    	</div>
	    	<div class="form-group">
	    		<label>X-axis</label>
	    		<select class="form-control" ng-model="x_pcs.selected" ng-options="x as x for x in x_pcs.options"></select>
	    	</div>
	    	<div class="form-group">
	    		<label>Y-axis</label>
	    		<select class="form-control" ng-model="y_pcs.selected" ng-options="y as y for y in y_pcs.options"></select>
	    	</div>
	    	<div>
	    		<pca-legend colors="colors"
	    	</div>
	    </div>
	</div>
</div>
